@media only screen and (min-width: 1145px){
    .poligon {
        width: 1307px;
        height: 1072px;
        border-radius: 50%;
        background-image: linear-gradient(to right,#744ec7,40%,#cf3299);
        position: absolute;
        top: -40%;
        right: -32%;
        z-index: -1;}
        .ds {
            position: absolute;
            bottom: 0;
            right: 0;}

         

        .design-left_img {
            margin-left: 150px;
    }

    .second_s{
        display: flex;
        justify-content: flex-end;
    }
    
    .relax {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 75px;
    }
    .round {
        width: 4000px;
        height: 3000px;
        position: absolute;
        top: 66px;
        left: -53%;
        background: #e6e1e1e5;
        border-radius: 50%;
        z-index: -999;
}
}

@media only screen and (max-width: 1144px){
    .poligon {
        
        top: -50%;
        right: -45%;
        z-index: -1;
}

.one h1 {
    font-size: 30px;
}

.one p {
    margin-top: 15px;
    font-size: 15px;
}
.one_img {
    width: 1000px;
    position: absolute;
    top: -100px;
    right: -15%;
    z-index: -1;
}
.ds {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid;
    border-color: #cf3299;
    z-index: 1;
}

.dw, .ds {
    width: 45%;
    height: 55px;}
.round {
        width: 3000px;
        height: 3000px;
        position: absolute;
        top: 0;
        left: -70%;
}
.second_s{
    display: flex;
    justify-content: flex-end;
}

.relax {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 75px;
}
.second_img_two {
    width: 305px;
    height: 655px;
    position: absolute;
    top: 0;
    left: 25%;
    background-repeat: no-repeat;
    z-index: 3;
}


}

@media only screen and (max-width: 998px){
.poligon{
    top: -40%;
    right:-800px;
}
i.fas.fa-bars{
        font-size: 20px !important;
        display: block;
        padding-left: 10px;
        color:white
    }
.menu{
    position: relative;
}

.menu ul{
    display:none
}
.resmenu{
        width: 100%;
        height: 200px;
        background-color: black;
        position: fixed;
        display: block;
        padding: 15px 0 0 20px;
        top: 80px;
        left: 0;
        z-index: 99999;
    }

.resmenu li{
    color:white;
    font-size: 14px;
    padding: 10px 5px;
     list-style: none;
}
.resmenu li i{
    padding-left: 5px;
}

.one_img {
    width: 1000px;
    position: absolute;
    top: 95%;
    right: -15%;
    z-index: -1;
}
.rate {
    margin-top: 75%;}

.awesome{
        padding-right: 70px;
        display: flex;
        justify-content:flex-start;
        margin-top: 200px;

}
.agony{
    width: 340px;
    position: relative;
}
.dw,.ds{
    width: 160px;
    height: 40px;}


.dw{
    top: 0;
    left: 0;
}

.ds{
    top: 0;
    right: 0;
}

.one_img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    right: 15%;
}

.second_slider{
   display: flex;
   flex-direction: column;
   height: 1500px;
}
.h h3{
    margin-bottom: 20px;
}
.second_slider {
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.relax{
    width: 97%;
    justify-content: space-around !important;
    flex-wrap: wrap;
}
.agony_2{
    position: relative;
    width: 400px;
}

.second_s {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.stick {
    width: 95%;
    height: 3px;
    margin-left: 30px;
    margin-top: 0;
}

.stick_one {
    width: 77px;
    height: 77px;
    border: 2px solid #cf3299;
    border-radius: 50%;
    position: absolute;
    top: -39px;
    left: 0;}


    .stick_two{
  bottom: -39px;
  left: 47%;
    }
    .stick_three {
        position: absolute;
        right: 0;
        top: -39px ;
        left: unset;
        bottom: unset;
    }
    .second_s{
        justify-content: flex-start;
    }

    .relax {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 28px;
    }
    .relax div:nth-child(1){
        margin-left: 0;
    }

    .makpro {
        margin: 60px 0px 20px 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    .makpro h4{
         font-size: 2vw;
    }
    
    .makpro p{
        font-size: 1.5vw;
    }

.buto{
    position: absolute;
    top: 0;
    left: 0;
}
.but{
    position: absolute;
    top: 0;
    right: -5px;
}

.manage{
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.manage img{
    width: 50%;
    height: 700px;
}
.design{
    display: flex;
    flex-direction:column;
    height: 1000px;
}
.design-left_img{
    width: 50%;
    height: 700px;
    margin-left:20px ;
}

.worked{
    display: flex;
    flex-direction: column;
    height: 800px;
}
.worked_right{
    width: 100%;
    margin-top: 50px;
}
.worked_right-1{
    top: 0;
    right: 78%;
 }
 .worked_right-2{
     top: 48px;
     right: 35%;
 }
 .worked_right-3{
     top: 211px;
     right:55%;
 }
 .worked_right-4{
     top: 196px;
     right: 70%;
 }
 .worked_right-5{
     bottom: 184px;;
     right: 50%;}
.pre_2 {
    position: absolute;
    top: 96%;
    left: 42%;
}
.honorable_left_1 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    top: 15px;
    right: 23%;
    z-index: 11;
}
.honorable_left_2 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    top: 10%;
    left: 35%;
    z-index: 11;
}
.honorable_left_3 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    top: 33%;
    left: 22%;
    z-index: 11;
}
.honorable_left_4 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    bottom: 24%;
    left: 20%;
    z-index: 11;
}
.honorable_left_7 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    bottom: 45px;
    left: 36%;
    z-index: 11;
}
.honorable_left_6 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    bottom: 50px;
    right: 20%;
    z-index: 11;
}
.honorable_right p {
    font-size: 17px;
    text-align: start;
    line-height: 30px;
    width: 370px;
}
.honorable_left_5 {
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 30%;
    right: 22%;
}
.fourth {
    width: 90%;
    height: 500px;
    margin-left: 4%;
    position: relative;
}

.home_slider_4 ul li {
    list-style: none;
    color: #656565;
    font-size: 1.7vw;
}

.home_slider_4 ul li::after {
    content: "";
    width: 5px;
    height: 5px;
    background-image: linear-gradient(to right,#6541c1,#d43396 );
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 7px;
    padding: 1px;
    display: inline-block;
}
.social i {
    color: grey;
    padding: 0 5px;
    margin-top: 10px;
    font-size: 14px;
}
}

@media only screen and (max-width: 768px){
    .poligon {
        width: 150vw;
        height: 163vw;
        top: -60%;
        right: -100%;
        z-index: -1;
    }
.menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin-left: 3%;
}
.one {
    width: 45%;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    position: relative;
    margin-top: 130px;
}
.one p{
    width: 400px;
}
.rate {
    margin-top: 533px;
}
.rate span {
    background: -webkit-linear-gradient(#744ec7, #cf3299);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-size: calc(13px + 3vw);
}
.tslider{
    width: 100%;
}
.second_slider{
height: 1400px;
}
.second_s {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stick {
    width: 3px;
    height: 450px;
    margin-left: 30px;
    margin-top: 0;
}
.stick_one {
    width: 10vw;
    height: 10vw;
    border: 2px solid #cf3299;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -30px;
}
.stick_two {
    width: 10vw;
    height: 10vw;
    bottom: 220px;
    left: -30px;
}
.stick_three {
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 0;
    top: unset;
    left: -30px;
    bottom: 0px;
}
.stick img {
    width:60%;
    height: 60%;
    margin: 20% 0px 2px 20%;
}
.relax {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    margin-left: 10%;
}
.makpro {
    margin: 0px 0px 20px 5%;
    margin-left: unset;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding-left: 40px;
}
.makpro h4{
    font-size:calc(14px + 2vw) !important;
}

.nex_2 {
    position: absolute;
    top: 96%;
    right: 29%;
}

 

p{
    font-size: calc(12px + 0.5vw) !important;
}

h1{
    font-size: 5vw !important;
}

.manage_left {
    width: 85%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    justify-content: center;
    padding-top: 15px;
}
.manage img {
    width: 80%;
    height: 620px;
    margin-left: 10%;
}
.design-right {
    width: 80%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    justify-content: center;
    padding-top: 15px;
    margin-left: 50px;
}
.design-left_img {
    width: 80%;
    height: 600px;
    margin-left: 20px;
}
.wphone {
    width: 301px;
    height: 638px;
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 1;
}
.tswiper img {
    border-radius: 10%;
    position: absolute;
    left: 18%;
}
.worked_left {
    width: 80%;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;
    padding-top: 15px;
}
.worked{
    display: flex;
    flex-direction: column;
    height: 800px;
}
.worked_right{
    width: 100%;
    margin-top: 50px;
}
.worked_right img{
    width: 15vw;
    height: 15vw;
}
.worked_right-1{
    top: 0;
    right: 78%;
 }
 .worked_right-2 {
    top: 27px;
    right: 35%;
}
 .worked_right-3{
     top: 211px;
     right:55%;
 }
 .worked_right-4{
     top: 196px;
     right: 70%;
 }
 .worked_right-5 {
    bottom: 110px;
    right: 78%;
}

.prices {
    width: 99%;
    height: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.5%;
}
.prices_one h3 {
    font-size: 4.5vw;
    color: #170B35;
    font-weight: 600;
    padding-top: 25px;
}
p.price {
    background: linear-gradient(to right,#6541c1 ,#d43396);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw !important;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 20px;
}

.prices_one {
    display: flex;
    flex-direction: column;
    width: 33%;
}

    .pr_button {
        width: 26vw;
        height: 46px;
        padding: 4px 0px;
        margin-top: 35px;
        border-radius: 28px;
        border: 3px solid #d43396;
        background-color: white;
        color: #170B35;
        font-size: calc(12px + 0.5vw);
        font-weight: bold;
    }
.honorable_left_1 {
    display: none;
}
.honorable_left_2 {
    display: none;
}
.honorable_left_3 {
    
    display: none;
}
.honorable_left_4 {
    display: none;
}
.honorable_left_5{
    display: none;
}
.honorable_left_7 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    bottom: 45px;
    left: 40%;
    z-index: 11;
}
.honorable_left_6 {
    display: none;
}

.honorable_right h2 {
    font-size: 26px;
    text-align: start;
    padding: 25px 0;
    margin-left: 35%;
}
.honorable span, .fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
    color: #6541c1;
    padding: 10px 0;
    cursor: pointer;
    margin-left: 35%;
}
.fa-long-arrow-alt-right{
    margin-left: 0;
}
.awesome{
    margin-top: 100px;
}

.worked_right-4 {
    top: 196px;
    right: 134px;
}
.one p{
    font-weight: bold;
}
.social i {
    color: grey;
    padding: 0 5px;
    margin-top: 10px;
    font-size: 13px;
}
.home_slider_4 ul li {
    list-style: none;
    color: #656565;
    font-size: 3vw;
}

.home_slider_4 ul li::after {
    content: "";
    width: 5px;
    height: 5px;
    background-image: linear-gradient(to right,#6541c1,#d43396 );
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 7px;
    padding: 1px;
    display: inline-block;
}
footer{
     height: 1350px;
}

div.footer_2 {
    display: flex;
    justify-content: space-between;
    
    position:static;
    width: 90%;
    height: 300px;
    padding:20px 0 0 0;
}
.btn_end{
    margin-top: 10%;
    margin-right: 10%;
    font-size: 2.5vw;

    
}
.footer_3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 30px;
    margin-top: 60px;
}
.footer_3_1{
    padding-left: 10%;
}
.footer_3_2{
    padding-left: 10%;
}
.footer_3_3{
    padding-left: 10%;
}
.footer_3_4{
    margin-right: 0;
    margin-left: 10%;
}
.footer_bottom{
    padding: 20px 5%;
}
}

@media only screen and (max-width: 480px){
    .poligon {
        width: 144vw;
        height: 198vw;
        top: -40%;
        right: -75%;
        z-index: -1;
    }

    .one_img {
        width: 90%;
        height: 500px;
        object-fit: cover;
        right: 5%;
    }
.one{
    margin-left: 5%;
}
.one p{
    width: 300px;
}

h1 {
    width: 320px;
    font-size: 6vw !important;

}
.agony {
    width: 350px !important;
    position: relative;
    height: 100px;
}
.ds {
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
}

.rate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.feature h1{
    text-align:center;
}
.second_img_two {
    width: 305px;
    height: 655px;
    position: absolute;
    top: 0;
    left: 13%;
    background-repeat: no-repeat;
    z-index: 3;
}
.swiper-wrapper_second{
    position: relative;
    top: 0;
    left: 19%;
    width: 300px;
    height: 655px;
    border-radius: 15%;
    overflow: hidden;
    z-index: 1;
}
.swiper-wrapper_second img {
    position:absolute;
    top: 0;
    left: -1%;
    width: 279px;
    height: 655px;
    object-fit: cover;
}
.second_f{
    height: 800px;
}
.second_img_one {
    position: relative;
    top: -645px;
    left: -10%;
    z-index: 0;
}

.stick{
    margin-left: 5%;
}
.makpro{
    padding-left: 10%;
}
.makpro h4{
    width: 90%;
}
.makpro p{
    width: 80%;
}
.second_s{
    height: 800px;
}
.relax{
    height: 620px;
}
.stick_one {
    width: 16vw;
    height: 16vw;
    border: 2px solid #cf3299;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -7vw;
}
.stick_two {
    width: 16vw;
    height: 16vw;
    bottom: 220px;
    left: -7vw;
}

.stick_three {
    width: 16vw;
    height: 16vw;
    position: absolute;
    right: 0;
    top: unset;
    left: -7vw;
    bottom: 0px;
}

.agony_2{
    height:120px;
    margin-top: 50px;
    padding-left: 15px;
}
.buto {
    position: absolute;
    top: 0;
    left: 15px;
}
.but {
    position: absolute;
    bottom: 0px;
    left: 15px;
    top: unset;
    right: unset;
}
.manage_left {
    width: 97%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: center;
    padding-top: 15px;
}
.h h3{
    font-size: 6vw;
}
.manage img {
    width: 80%;
    height: 479px;
    margin-left: 5%;
    object-fit: cover;
}
.design-left_img {
    width: 80%;
    height: 479px;
    margin-left: 5%;
    object-fit: cover;
}
.design-right {
    width: 97%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    justify-content: center;
    padding-top: 15px;
    margin-left: 5%;
}
.wphone {
    width: 267px;
    height: 595px;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1;
}
.tswiper img {
    border-radius: 10%;
    position: absolute;
    left: 0;
    width: 251px;
    height: 575px;
}
.worked_right-2 {
    top: 0%;
    right: 35%;
}
.worked_right-3 {
    top: 28%;
    right: 55%;
}
.prices{
    height: max-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 15%;
}
.prices_one {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-left: 5%;
}
.prices_one h3 {
    font-size: 5vw;
    color: #170B35;
    font-weight: 600;
    padding-top: 25px;
}
p.price{
    font-size: 10vw !important;
}
.pr_button {
    width: 44vw;}

    .honorable{
        position: relative;
    }

    .honorable_left_7 {
        position: absolute;
        width: 20vw;
        height: 20vw;
        top: 20%;
        left: 40%;
        z-index: 11;
    }
.honorable_left{
    width: 0px;
    position: static;
}

.honorable_right img{
    margin: 50px 0 0 0;
    width: 38px;
    height: 26px;
        
}
    .honorable_right{
        width: 70%;
        margin-left: 5%;
    }
    .honorable_right p{
        margin-top: 50px;
    }

    .honorable_right h3 {
        font-size: 7vw;
        padding-bottom: 20px;
    }
    .round {
        width: 3000px;
        height: 3000px;
        position: absolute;
        top: 0;
        left: -183%;
    }
    footer {
        height: 1500px;
    }
    div.footer_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: static;
        width: 90%;
        height: 300px;
        padding: 20px 0 0 0;
    }

    .btn_end{
        margin-top: 6%;
        margin-right: 0;
        font-size: 4vw;
        margin-left: 20%;
    
    }
    .footer_3 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 30px;
        margin-top: 60px;
    }
    .footer_3_1{
        padding-left: 5%;
    }
    .footer_3_2{
        padding-left: 5%;
    }
    .footer_3_3{
        padding-left: 5%;
        height: 200px;
    }
    .footer_3_4{
        margin-right: 0;
        margin-left: 15%;
    }
    .footer_bottom{
        padding: 20px 5%;
    }   

}